HELLO_WORD_ENV_VAR=World

# Point to the private key file downloaded from Firebase > Settings > Service Accounts
NODE_ENV=development
GOOGLE_APPLICATION_CREDENTIALS=quatro-dev-88030-firebase-adminsdk-pt99p-681d7967f1.json

# NODE_ENV=production
# GOOGLE_APPLICATION_CREDENTIALS=tasket-project-firebase-adminsdk-1uzts-395c357ee6.json

AC_API_KEY=
AC_API_URL=https://usequatro.api-us1.com
