HELLO_WORD_ENV_VAR=World

# Point to the private key file downloaded from Firebase > Settings > Service Accounts
GOOGLE_APPLICATION_CREDENTIALS=quatro-dev-88030-firebase-adminsdk-pt99p-681d7967f1.json
